<section class="hero">
  <div class="description">
    <Span
      >Esse projeto é uma iniciativa que simula o processo legislativo pelo meio
      digital</Span
    >
    &nbsp;
    <p>
      Com o Votify, simulamos um sistema deliberativo inspirado no Senado, onde
      organizadores criam sessões e pautas, e associados participam das votações
      de forma segura e controlada.
    </p>
    <p>
      A solução atende tanto fins acadêmicos quanto ambientes organizacionais,
      promovendo decisões em grupo com transparência e eficiência.
    </p>
  </div>
  <div class="image">
    <img
      src="assets/clumsy.svg"
      alt="Imagem ilustrativa de uma pessoa com folhas de papel"
    />
  </div>
</section>
